@charset "UTF-8";

@font-face {
    font-family: 'Delius';
    src: url('fonts/Delius_Unicase/DeliusUnicase-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --corheader: #8CB9BD;
    --corbody: #FEFBF6;
    --cordecorativa: #ECB159;
    --corconteudo: #B67352;
    --fonte: 'Delius', 'Arial', 'sans-serif';
}

body {
    margin: 0;
    background-color: var(--corbody);
    font-family: var(--fonte);
}

/* CABEÇALHO COM LINKS E LOGO */

header {
    background-color: var(--corheader);
    text-align: center; 
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.363);
}

header > h1 {
    margin: 0;
    padding-top: 30px;
    color: var(--cordecorativa);
    text-shadow: 2px 2px 0.5px black;
    font-size: 40px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 22px;
    list-style: none;
    margin: 40px 0 0 0;
    padding-bottom: 20px;
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    transition: .3s;
}

.nav-links a:hover {
    text-decoration: underline;
    background-color: var(--cordecorativa);
    padding: 8px;
    border-radius: 5px;
}

/* CONFIGURAÇÕES GERAIS SOBRE O CONTEUDO PRINCIPAL */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section p {
    font-variant: small-caps;
    font-size: 18px;
    letter-spacing: 1.5px;
}

/* SEÇÃO SOBRE O RESTAURANTE */

.about-us {
    margin: 0 0 50px 0;
    background: url(imgs/fundo-restaurante.jpg) fixed no-repeat bottom center;
    background-size: cover;
    width: 100%;
    height: 350px;
    text-align: center;
    display: flex;
    align-items: center;
}

.about-us-text {
    background: var(--cordecorativa);
    padding: 20px;
    width: 800px;
    margin: auto;
    box-shadow: 0 1px 6px #000000c0;
}

.about-us h2 {
    font-variant: small-caps;
}

/* FOTOS CLICAVEIS SOBRE O MENU DE NAVEGAÇÃO */

.links-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    text-transform: uppercase;
}

.links-icons div {
    width: 200px;
    height: 250px;
    box-shadow: 0 0 7px 1px var(--corheader);
}

.icon-cardapio {
    background: #ccc url(imgs/menu.jpg) no-repeat right;
    background-size: cover;
}

.icon-reservas {
    background: #ccc url(imgs/reservas.jpeg) no-repeat center;
    background-size: cover;
}

.icon-eventos {
    background: #ccc url(imgs/eventos.jpg) no-repeat center;
    background-size: cover;
}

.icon-historia {
    background: #ccc url(imgs/nossa-historia.jpg) no-repeat center;
    background-size: cover;
}

.icon-fotos {
    background: #ccc url(imgs/fotos.jpg) no-repeat center;
    background-size: cover;
}


/* RODAPÉ */

footer {
    background-color: var(--corconteudo);
    min-width: 300px;
    max-width: 100%;
    height: 150px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
}

footer .endereco {
    width: 220px;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
}